@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

/*-- scss:rules --*/

a {
  color: #86BC95;
}

a:hover {
  color: #E87C00;
}

nav#TOC > li active {
  color: #3B99B1;
}

nav#TOC li a:hover {
  color: #E87C00;
}

div.info {
  padding: 1em;
  padding-left: 100px;
  margin: 2em 0;
  background-color: rgba(203, 201, 136, 0.3);
  background-image: url("https://dicook.github.io/mulgar_book/images/acacia-flowers.png");
  background-size: 90px;
  background-position: 2px 0.5em;
  background-repeat: no-repeat;
  border-right: 6px solid #EAC024;
  position: relative;
  font-family: 'Over the Rainbow', cursive;
}

div.insight {
  padding: 1em;
  padding-left: 100px;
  margin: 2em 0;
  background-color: rgba(233, 117, 28, 0.3);
  background-image: url("https://dicook.github.io/mulgar_book/images/acacia-seeds.png");
  background-size: 90px;
  background-position: 2px 0.5em;
  background-repeat: no-repeat;
  border-right: 6px solid #E87C00;
  position: relative;
  font-family: 'Over the Rainbow', cursive;
}
