/*-- scss:rules --*/

a {
  color: #86BC95;
}

a:hover {
  color: #E87C00;
}

nav#TOC li active {
  color: #3B99B1;
}

nav li a:hover {
  color: #E87C00;
}

div.info, div.aim, div.eg, div.case, div.do {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  background-color: rgba(169, 195, 146, 0.3);
  border-left: 6px solid #A9C392;
  position: relative;
}

div.info::before, div.aim::before, div.eg::before, div.case::before, .do::before {
  background-color: #A9C392;
  border-radius: 100%;
  color: #fff;
  content: "\1F526";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  position: absolute;
  height: 25px;
  width: 25px;
  text-align: center;
  top: 10px;
  left: -14.5px;
}