@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

/*-- scss:rules --*/

a {
  color: #86BC95;
}

a:hover {
  color: #E87C00;
}

nav#TOC > li active {
  color: #3B99B1;
}

nav#TOC > li hover {
  color: #E87C00;
}

div.info, div.aim, div.eg, div.case, div.do {
  padding: 1em;
  padding-left: 100px;
  margin: 2em 0;
  background-color: rgba(203, 201, 136, 0.3);
  background-image: url("./images/acacia-flowers.png");
  background-size: 90px;
  background-position: 2px 0.5em;
  background-repeat: no-repeat;
  border-right: 6px solid #EAC024;
  position: relative;
  font-family: 'Over the Rainbow', cursive;
}

div.insight {
  padding: 24px 12px 12px 24px;
  margin: 2em 0;
  background-color: rgba(233, 117, 28, 0.3);
  border-left: 6px solid #E9AB1C;
  position: relative;
}

div.insight::before {
  background-color: #E9AB1C;
  border-radius: 100%;
  color: #fff;
  content: "\1F50E";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  position: absolute;
  height: 25px;
  width: 25px;
  text-align: center;
  top: 10px;
  left: -14.5px;
}