p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.info, div.aim, div.eg, div.case, div.do {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  background-color: rgba(2, 126, 182, 0.3);
  border-left: 6px solid #006DAE;
  position: relative;
}
